@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    font-family: "Alatsi", sans-serif;
    color: #5b5e64;
    font-size: xx-large;
    text-transform: uppercase;
  }
  p {
    font-family: "Abhaya Libre", serif;
    color: #5b5e64;
    font-size: large;
  }

  button {
    font-family: "Alatsi", sans-serif;
  }
}

@layer base {
  body {
    background-color: rgb(250, 241, 224);
  }
}

.min-klasse {
  background: red;
}